<mat-sidenav-container hasBackdrop="true" fullscreen>
  <mat-sidenav #sidenav mode="hover" class="hide-gt-sm">
    <mat-nav-list>
      <div class="sidenav-header theme-primary">
        <ng-container *ngIf="currentUser$ | async as currentUser; else notAuth">
          <img
            class="img-user"
            src="{{ currentUser?.avatar | imageApi }}"
            default="profile"
          />
          <h1>{{ currentUser?.username }}</h1>
          <h2>{{ currentUser?.email }}</h2>
        </ng-container>
        <ng-template #notAuth>
          <pwa-layout-profile
            [currentUser]="currentUser$ | async"
            (click)="sidenav.close()"
          >
          </pwa-layout-profile>
        </ng-template>
      </div>
      <button
        *ngFor="let destination of destinations"
        mat-menu-item
        routerLinkActive="list-item-active"
        [routerLink]="destination.path"
        (click)="sidenav.close()"
      >
        <mat-icon mat-list-icon>{{ destination.icon }}</mat-icon>
        <span>{{ destination.name }}</span>
      </button>
      <mat-divider></mat-divider>
      <ng-container *ngIf="currentUser$ | async">
        <button routerLink="profile/me" (click)="sidenav.close()" mat-menu-item>
          <mat-icon mat-list-icon>edit</mat-icon>
          <span>Edit your profile</span>
        </button>
        <button
          routerLink="home"
          (click)="sidenav.close(); onSignoutClick()"
          mat-menu-item
        >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary" class="mat-elevation-z3">
        <div class="hide-gt-sm">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <h1 class="app-name">{{ appName }}</h1>
        <div *ngIf="destinations.length" class="hide-lt-md">
          <button
            *ngFor="let destination of destinations"
            mat-button
            routerLinkActive="list-item-active"
            [routerLink]="destination.path"
          >
            <!-- <mat-icon mat-list-icon>{{ destination.icon }}</mat-icon> -->
            <span>{{ destination.name }}</span>
          </button>
        </div>
        <span class="fill-remaining-space hide-lt-md"></span>
        <pwa-layout-profile
          [currentUser]="currentUser$ | async"
          class="hide-lt-md"
        >
        </pwa-layout-profile>
        <pwa-layout-settings></pwa-layout-settings>
      </mat-toolbar>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <pwa-layout-footer></pwa-layout-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
