.auth-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.auth-card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

mat-form-field {
  width: 100%;

  &:first-of-type {
    margin-top: 40px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.button-group {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.mat-raised-button {
  height: 50px;
  width: 120px;
}

.sumbit-error {
  margin: 20px;
}
